openapi: '3.0.2'
info:
  title: Binance SPOT Public API
  description: The swagger file of Binance Public API
  version: '1.0'
  license:
    name: MIT
servers:
  - url: https://api.binance.com/api/v3
  - url: https://testnet.binance.vision/api/v3
tags:
  - name: Market Data
    description: Market Data
  - name: Trade
    description: Account and Trade
paths:
  /ping:
    get:
      summary: Test Connectivity
      description: Weight 1
      tags:
        - Market Data
      responses:
        '200':
          description: ping result
          content: {}
  /time:
    get:
      summary: Check Server Time
      description: Weight 1
      tags:
        - Market Data
      responses:
        '200':
          description: Binance server UTC timestamp
          content:
            application/json:
              schema:
                title: server time
                type: object
              example:
                serverTime: 1499827319559
  /exchangeInfo:
    get:
      summary: Exchange Information
      description: Weight 1
      tags:
        - Market Data
      responses:
        '200':
          description: Current exchange trading rules and symbol information
          content:
            application/json:
              schema:
                title: server time
                type: object
              example:
                timezone: UTC
                serverTime: 1592882214236
                rateLimits:
                  - rateLimitType: REQUEST_WEIGHT
                    interval: MINUTE
                    intervalNum: 1
                    limit: 1200
                  - rateLimitType: ORDERS
                    interval: SECOND
                    intervalNum: 10
                    limit: 100
                  - rateLimitType: ORDERS
                    interval: DAY
                    intervalNum: 1
                    limit: 200000
                exchangeFilters: []
                symbols: 
                  - symbol: ETHBTC
                    status: TRADING
                    baseAsset: ETH
                    baseAssetPrecision: 8
                    quoteAsset: BTC
                    quotePrecision: 8
                    quoteAssetPrecision: 8
                    baseCommissionPrecision: 8
                    quoteCommissionPrecision: 8
                    orderTypes: 
                    - LIMIT
                    - LIMIT_MAKER
                    - MARKET
                    - STOP_LOSS_LIMIT
                    - TAKE_PROFIT_LIMIT
                    icebergAllowed: true
                    ocoAllowed: true
                    quoteOrderQtyMarketAllowed: true
                    isSpotTradingAllowed: true
                    isMarginTradingAllowed: true
                    filters: 
                    - filterType: PRICE_FILTER
                      minPrice: "0.00000100"
                      maxPrice: "100000.00000000"
                      tickSize: "0.00000100"
                    - filterType: PERCENT_PRICE
                      multiplierUp: 5
                      multiplierDown: "0.2"
                      avgPriceMins: 5
                    - filterType: LOT_SIZE
                      minQty: "0.00100000"
                      maxQty: "100000.00000000"
                      stepSize: "0.00100000"
                    - filterType: MIN_NOTIONAL
                      minNotional: "0.00010000"
                      applyToMarket: true
                      avgPriceMins: 5
                    - filterType: ICEBERG_PARTS
                      limit: 10
                    - filterType: MARKET_LOT_SIZE
                      minQty: "0.00000000"
                      maxQty: "10837.63823875"
                      stepSize: "0.00000000"
                    - filterType: MAX_NUM_ALGO_ORDERS
                      maxNumAlgoOrders: 5
                    - filterType: MAX_NUM_ORDERS
                      maxNumOrders: 200
                    permissions: 
                    - SPOT
                    - MARGIN
  /depth:
    get:
      summary: Order Book
      description: Weight 1
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: limit
          in: query
          description: Default 100; max 1000. Valid limits:[5, 10, 20, 50, 100, 500, 1000, 5000]
          schema:
            type: integer
          example: 100         
      responses:
        '200':
          description: order books
          content:
            application/json:
              schema:
                title: open orders
                type: object
              example:
                lastUpdateId: 1060776800
                bids: 
                - 
                  - "16.39580000"
                  - "19.41000000"
                - 
                  - "16.39450000"
                  -  "1.00000000"
                asks: 
                - 
                  - "16.39790000"
                  -  "25.48000000"
                - 
                  -  "16.39800000"
                  -  "5.57000000"
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /trades:
    get:
      summary: Recent Trades List
      description: |-
        Get recent trades (up to last 500).
        
        Weight 1
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: limit
          in: query
          description: Default 100; max 1000. Valid limits:[5, 10, 20, 50, 100, 500, 1000, 5000]
          schema:
            type: integer
          example: 100        
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'             
  /historicalTrades:
    get:
      summary: Old Trade Lookup
      description: |-
        Get older market trades.
        
        Weight 5
      tags:
        - Market Data
      parameters:          
        - $ref: '#/components/parameters/APIKey'
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/tradeId'
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /aggTrades:
      get:
        summary: Compressed/Aggregate Trades List
        description: |-
          Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.

          Weight 1
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/symbol'
          - $ref: '#/components/parameters/tradeId'
          - $ref: '#/components/parameters/startTime'
          - $ref: '#/components/parameters/endTime'
          - $ref: '#/components/parameters/limit'
        responses:
          '200':
            description: trade list
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/aggTrade'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /klines:
      get:
        summary: Kline/Candlestick Data
        description: |-
          Kline/candlestick bars for a symbol.\
          Klines are uniquely identified by their open time.

          Weight 1
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/symbol'
          - name: interval
            in: query
            description: kline intervals
            schema:
              type: string
            example: '1m'
          - $ref: '#/components/parameters/startTime'
          - $ref: '#/components/parameters/endTime'
          - $ref: '#/components/parameters/limit'
        responses:
          '200':
            description: kline data
            content:
              application/json:
                schema:
                  type: array
                example:
                  -  
                    - 1592864100000
                    - "9668.28000000"
                    - "9668.28000000"
                    - "9662.90000000"
                    - "9663.80000000"
                    - "46.46543700"
                    - 1592864159999,
                    - "449098.94232016"
                    - 401
                    - "10.46540600"
                    - "101138.68313192"
                    - "0"
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /avgPrice:
      get:
        summary: Current Average Price
        description: |-
          Current average price for a symbol.

          Weight 1
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/symbol'
        responses:
          '200':
            description: average price
            content:
              application/json:
                schema:
                  type: array
                example:
                  mins: 5
                  price: "9.35751834"
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /ticker/24hr:
      get:
        summary: 24hr Ticker Price Change Statistics
        description: |-
          24 hour rolling window price change statistics. Careful when accessing this with no symbol.

          Weight:\
          1 for a single symbol;\
          40 when the symbol parameter is omitted
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/optionalSymbol'
        responses:
          '200':
            description: 24hr ticker
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/ticker'
                    - $ref: '#/components/schemas/tickerList'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /ticker/price:
      get:
        summary: Symbol Price Ticker
        description: |-
          Latest price for a symbol or symbols.

          Weight:\
          1 for a single symbol;\
          2 when the symbol parameter is omitted
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/optionalSymbol'
        responses:
          '200':
            description: Price ticker
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/priceTicker'
                    - $ref: '#/components/schemas/priceTickerList'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /ticker/bookTicker:
    get:
      summary: Symbol Order Book Ticker
      description: |-
        Best price/qty on the order book for a symbol or symbols.

        Weight:\
        1 for a single symbol;\
        40 when the symbol parameter is omitted
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
      responses:
        '200':
          description: orderbook ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/bookTicker'
                  - $ref: '#/components/schemas/bookTickerList'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'    
  /order/test:
      post:
        summary: Test New Order (TRADE)
        description: |-
          Test new order creation and signature/recvWindow long. 
          Creates and validates a new order but does not send it into the matching engine.

          Weight:\
          1 
        tags:
          - Trade
        parameters:
          - $ref: '#/components/parameters/symbol'
          - name: side
            in: query
            required: true
            description: BUY or SELL
            schema:
              type: string
          - name: type
            in: query
            required: true
            description: LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER etc
            schema:
              type: string
              enum: [LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER]
          - name: timeInForce
            in: query
            description: GTC, IOC or FOK
            schema:
              type: string
              enum: [GTC, IOC, FOK]
          - name: quantity
            in: query
            description: order quantity
            schema:
              type: number
              format: float
          - name: quoteOrderQty
            in: query
            description: quote quantity
            schema:
              type: number
              format: float
          - name: price
            in: query
            description: order price
            schema:
              type: number
              format: float
          - name: newClientOrderId
            in: query
            description: order id by client
            schema:
              type: string
          - name: stopPrice
            in: query
            description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
            schema:
              type: number
              format: float
          - name: icebergQty
            in: query
            description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
            schema:
              type: number
              format: float
          - name: newOrderRespType
            in: query
            description: ACK, RESULT, or FULL
            schema:
              type: string
          - name: recvWindow
            in: query
            description: The value cannot be greater than 60000
            schema:
              type: integer
          - $ref: '#/components/parameters/recvWindow'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/signature'
        responses:
          '200':
            description: test order result
            content: {}
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /order:
      post:
        summary: New Order (TRADE)
        description: |-
          Send in a new order.

          Weight: 1 
        tags:
          - Trade
        parameters:
          - $ref: '#/components/parameters/symbol'
          - name: side
            in: query
            required: true
            description: BUY or SELL
            schema:
              type: string
          - name: type
            in: query
            required: true
            description: LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER etc
            schema:
              type: string
              enum: [LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER]
          - name: timeInForce
            in: query
            description: GTC, IOC or FOK
            schema:
              type: string
              enum: [GTC, IOC, FOK]
          - name: quantity
            in: query
            description: order quantity
            schema:
              type: number
              format: float
          - name: quoteOrderQty
            in: query
            description: quote quantity
            schema:
              type: number
              format: float
          - name: price
            in: query
            description: order price
            schema:
              type: number
              format: float
          - name: newClientOrderId
            in: query
            description: order id by client
            schema:
              type: string
          - name: stopPrice
            in: query
            description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
            schema:
              type: number
              format: float
          - name: icebergQty
            in: query
            description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
            schema:
              type: number
              format: float
          - name: newOrderRespType
            in: query
            description: ACK, RESULT, or FULL
            schema:
              type: string
          - name: recvWindow
            in: query
            description: The value cannot be greater than 60000
            schema:
              type: integer
          - $ref: '#/components/parameters/recvWindow'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/signature'
        responses:
          '200':
            description: order result
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/orderResponseAck'
                    - $ref: '#/components/schemas/orderResponseResult'
                    - $ref: '#/components/schemas/orderResponseFull'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'                
components:
  parameters:
    APIKey:
      name: X-MBX-APIKEY
      in: header
      description: API Key
      required: true
      schema:
        type: string
    symbol:
      name: symbol
      in: query
      required: true
      description: trading symbol, e.g. BNBUSDT
      schema:
        type: string
      example: 'BNBUSDT'
    optionalSymbol:
      name: symbol
      in: query
      description: trading symbol, e.g. BNBUSDT
      schema:
        type: string
      example: 'BNBUSDT'
    limit:
      name: limit
      in: query
      description: Default 500; max 1000.
      schema:
        type: integer
      example: 500
    tradeId:
      name: fromId
      in: query
      description: Trade id to fetch from. Default gets most recent trades.
      schema:
        type: integer
    startTime:
      name: startTime
      in: query
      description: Timestamp in ms to get aggregate trades from INCLUSIVE.
      schema:
        type: integer
    endTime:
      name: endTime
      in: query
      description: Timestamp in ms to get aggregate trades until INCLUSIVE.
      schema:
        type: integer
    recvWindow:
      name: recvWindow
      in: query
      description: The value cannot be greater than 60000
      schema:
        type: integer
      example: 5000
    timestamp:
      name: timestamp
      in: query
      required: true
      description: UTC timestamp
      schema:
        type: integer
    signature:
      name: signature
      in: query
      required: true
      description: signature
      schema:
        type: string


  schemas:
    orderResponseAck:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
    orderResponseResult:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "MARKET"
        side:
          type: string
          example: "SELL"
    orderResponseFull:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "MARKET"
        side:
          type: string
          example: "SELL"
        fills:
          type: array
          items:
            type: string
            properties:
              price:
                type: string
                example: "4000.00000000"
              qty:
                type: string
                example: "1.00000000"
              commission:
                type: string
                example: "4.00000000"
              commissionAsset:
                type: string
                example: "USDT"

    bookTickerList:
      type: array
      items:
        $ref: '#/components/schemas/bookTicker'
    bookTicker:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        bidPrice:
          type: string
          example: "16.36240000"
        bidQty:
          type: string
          example: "256.78000000"
        askPrice:
          type: string
          example: "16.36450000"
        askQty:
          type: string
          example: "12.56000000"
    priceTickerList:
      type: array
      items:
        $ref: '#/components/schemas/priceTicker'
    priceTicker:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        price:
          type: string
          example: "0.17160000"
    tickerList:
      type: array
      items:
        $ref: '#/components/schemas/ticker'
    ticker:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        priceChange:
          type: string
          example: "0.17160000"
        priceChangePercent:
          type: string
          example: "1.060"
        prevClosePrice:
          type: string
          example: "16.35920000"
        lastPrice:
          type: string
          example: "27.84000000"
        bidPrice:
          type: string
          example: "16.34488284"
        bidQty:
          type: string
          example: "16.34488284"
        askPrice:
          type: string
          example: "16.35920000"
        askQty:
          type: string
          example: "25.06000000"
        openPrice:
          type: string
          example: "16.18760000"
        highPrice:
          type: string
          example: "16.55000000"
        lowPrice:
          type: string
          example: "16.16940000"
        volume:
          type: string
          example: "1678279.95000000"
        quoteVolume:
          type: string
          example: "27431289.14792300"
        openTime:
          type: integer
          example: 1592808788637
        closeTime:
          type: integer
          example: 1592895188637
        firstId:
          type: integer
          example: 62683296
        lastId:
          type: integer
          example: 62739253
        count:
          type: integer
          example: 55958



    trade:
      type: object
      properties:
        id:
          type: integer
          description: trade id
          example: 345196462
        price:
          type: string
          description: price
          example: "9638.99000000"
        qty:
          type: string
          description: amount of base asset
          example: "0.02077200"
        quoteQty:
          type: string
          description: amount of quote asset
          example: "0.02077200"
        time:
          type: integer
          description: trade timestamp
          example: 1592887772684
        isBuyerMaker:
          type: boolean
          example: true
        isBestMatch:
          type: boolean
          example: true
    aggTrade:
      type: object
      properties:
        a:
          type: integer
          description: trade id
          example: 345196462
        p:
          type: string
          description: price
          example: "9638.99000000"
        q:
          type: string
          description: amount of base asset
          example: "0.02077200"
        f:
          type: integer
          description: First tradeId
          example: 345212431
        l:
          type: integer
          description: Last tradeId
          example: 345212431
        T:
          type: boolean
          description: Timestamp
          example: 1592892011154
        m:
          type: boolean
          description: Was the buyer the maker?
          example: true
        M:
          type: boolean
          description: Was the trade the best price match?
          example: true
    
    validationError:
      type: object
      properties:
        code:
          type: integer
          description: error code
          example: -1102
        msg:
          type: string
          description: error message
          example: "Mandatory parameter %s was not sent, was empty/null, or malformed."
