openapi: '3.0.2'
info:
  title: Binance SPOT Public API
  description: The swagger file of Binance Public API
  version: '1.0'
  license:
    name: MIT
servers:
  - url: https://api.binance.com
  - url: https://testnet.binance.vision
tags:
  - name: Market Data
    description: Market Data
  - name: Trade
    description: Account and Trade
  - name: Margin
    description: Margin Account/Trade
  - name: Wallet
    description: Wallet Endpoints
  - name: Stream
    description: User data stream
  - name: Margin Stream
    description: Margin user data stream
paths:
  /api/v3/ping:
    get:
      summary: Test Connectivity
      description: Weight 1
      tags:
        - Market Data
      responses:
        '200':
          description: ping result
          content: {}
  /api/v3/time:
    get:
      summary: Check Server Time
      description: Weight 1
      tags:
        - Market Data
      responses:
        '200':
          description: Binance server UTC timestamp
          content:
            application/json:
              schema:
                title: server time
                type: object
              example:
                serverTime: 1499827319559
  /api/v3/exchangeInfo:
    get:
      summary: Exchange Information
      description: Weight 1
      tags:
        - Market Data
      responses:
        '200':
          description: Current exchange trading rules and symbol information
          content:
            application/json:
              schema:
                title: server time
                type: object
              example:
                timezone: UTC
                serverTime: 1592882214236
                rateLimits:
                  - rateLimitType: REQUEST_WEIGHT
                    interval: MINUTE
                    intervalNum: 1
                    limit: 1200
                  - rateLimitType: ORDERS
                    interval: SECOND
                    intervalNum: 10
                    limit: 100
                  - rateLimitType: ORDERS
                    interval: DAY
                    intervalNum: 1
                    limit: 200000
                exchangeFilters: []
                symbols: 
                  - symbol: ETHBTC
                    status: TRADING
                    baseAsset: ETH
                    baseAssetPrecision: 8
                    quoteAsset: BTC
                    quotePrecision: 8
                    quoteAssetPrecision: 8
                    baseCommissionPrecision: 8
                    quoteCommissionPrecision: 8
                    orderTypes: 
                    - LIMIT
                    - LIMIT_MAKER
                    - MARKET
                    - STOP_LOSS_LIMIT
                    - TAKE_PROFIT_LIMIT
                    icebergAllowed: true
                    ocoAllowed: true
                    quoteOrderQtyMarketAllowed: true
                    isSpotTradingAllowed: true
                    isMarginTradingAllowed: true
                    filters: 
                    - filterType: PRICE_FILTER
                      minPrice: "0.00000100"
                      maxPrice: "100000.00000000"
                      tickSize: "0.00000100"
                    - filterType: PERCENT_PRICE
                      multiplierUp: 5
                      multiplierDown: "0.2"
                      avgPriceMins: 5
                    - filterType: LOT_SIZE
                      minQty: "0.00100000"
                      maxQty: "100000.00000000"
                      stepSize: "0.00100000"
                    - filterType: MIN_NOTIONAL
                      minNotional: "0.00010000"
                      applyToMarket: true
                      avgPriceMins: 5
                    - filterType: ICEBERG_PARTS
                      limit: 10
                    - filterType: MARKET_LOT_SIZE
                      minQty: "0.00000000"
                      maxQty: "10837.63823875"
                      stepSize: "0.00000000"
                    - filterType: MAX_NUM_ALGO_ORDERS
                      maxNumAlgoOrders: 5
                    - filterType: MAX_NUM_ORDERS
                      maxNumOrders: 200
                    permissions: 
                    - SPOT
                    - MARGIN
  /api/v3/depth:
    get:
      summary: Order Book
      description: Weight 1
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: limit
          in: query
          description: Default 100; max 1000. Valid limits:[5, 10, 20, 50, 100, 500, 1000, 5000]
          schema:
            type: integer
          example: 100         
      responses:
        '200':
          description: order books
          content:
            application/json:
              schema:
                title: open orders
                type: object
              example:
                lastUpdateId: 1060776800
                bids: 
                - 
                  - "16.39580000"
                  - "19.41000000"
                - 
                  - "16.39450000"
                  -  "1.00000000"
                asks: 
                - 
                  - "16.39790000"
                  -  "25.48000000"
                - 
                  -  "16.39800000"
                  -  "5.57000000"
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/trades:
    get:
      summary: Recent Trades List
      description: |-
        Get recent trades (up to last 500).
        
        Weight 1
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/symbol'
        - name: limit
          in: query
          description: Default 100; max 1000. Valid limits:[5, 10, 20, 50, 100, 500, 1000, 5000]
          schema:
            type: integer
          example: 100        
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'             
  /api/v3/historicalTrades:
    get:
      summary: Old Trade Lookup
      description: |-
        Get older market trades.
        
        Weight 5
      tags:
        - Market Data
      parameters:          
        - $ref: '#/components/parameters/APIKey'
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/fromId'
      responses:
        '200':
          description: trade list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/trade'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/aggTrades:
      get:
        summary: Compressed/Aggregate Trades List
        description: |-
          Get compressed, aggregate trades. Trades that fill at the time, from the same order, with the same price will have the quantity aggregated.

          Weight 1
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/symbol'
          - $ref: '#/components/parameters/fromId'
          - $ref: '#/components/parameters/startTime'
          - $ref: '#/components/parameters/endTime'
          - $ref: '#/components/parameters/limit'
        responses:
          '200':
            description: trade list
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/aggTrade'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /api/v3/klines:
      get:
        summary: Kline/Candlestick Data
        description: |-
          Kline/candlestick bars for a symbol.\
          Klines are uniquely identified by their open time.

          Weight 1
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/symbol'
          - name: interval
            in: query
            description: kline intervals
            schema:
              type: string
            example: '1m'
          - $ref: '#/components/parameters/startTime'
          - $ref: '#/components/parameters/endTime'
          - $ref: '#/components/parameters/limit'
        responses:
          '200':
            description: kline data
            content:
              application/json:
                schema:
                  type: array
                example:
                  -  
                    - 1592864100000
                    - "9668.28000000"
                    - "9668.28000000"
                    - "9662.90000000"
                    - "9663.80000000"
                    - "46.46543700"
                    - 1592864159999,
                    - "449098.94232016"
                    - 401
                    - "10.46540600"
                    - "101138.68313192"
                    - "0"
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /api/v3/avgPrice:
      get:
        summary: Current Average Price
        description: |-
          Current average price for a symbol.

          Weight 1
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/symbol'
        responses:
          '200':
            description: average price
            content:
              application/json:
                schema:
                  type: array
                example:
                  mins: 5
                  price: "9.35751834"
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /api/v3/ticker/24hr:
      get:
        summary: 24hr Ticker Price Change Statistics
        description: |-
          24 hour rolling window price change statistics. Careful when accessing this with no symbol.

          Weight:\
          1 for a single symbol;\
          40 when the symbol parameter is omitted
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/optionalSymbol'
        responses:
          '200':
            description: 24hr ticker
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/ticker'
                    - $ref: '#/components/schemas/tickerList'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /api/v3/ticker/price:
      get:
        summary: Symbol Price Ticker
        description: |-
          Latest price for a symbol or symbols.

          Weight:\
          1 for a single symbol;\
          2 when the symbol parameter is omitted
        tags:
          - Market Data
        parameters:
          - $ref: '#/components/parameters/optionalSymbol'
        responses:
          '200':
            description: Price ticker
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/priceTicker'
                    - $ref: '#/components/schemas/priceTickerList'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /api/v3/ticker/bookTicker:
    get:
      summary: Symbol Order Book Ticker
      description: |-
        Best price/qty on the order book for a symbol or symbols.

        Weight:\
        1 for a single symbol;\
        40 when the symbol parameter is omitted
      tags:
        - Market Data
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
      responses:
        '200':
          description: orderbook ticker
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/bookTicker'
                  - $ref: '#/components/schemas/bookTickerList'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'    
  /api/v3/order/test:
    post:
      summary: Test New Order (TRADE)
      description: |-
        Test new order creation and signature/recvWindow long. 
        Creates and validates a new order but does not send it into the matching engine.

        Weight:\
        1 
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/side'
        - $ref: '#/components/parameters/orderType'
        - name: timeInForce
          in: query
          description: GTC, IOC or FOK
          schema:
            type: string
            enum: [GTC, IOC, FOK]
        - name: quantity
          in: query
          description: order quantity
          schema:
            type: number
            format: float
        - name: quoteOrderQty
          in: query
          description: quote quantity
          schema:
            type: number
            format: float
        - name: price
          in: query
          description: order price
          schema:
            type: number
            format: float
        - name: newClientOrderId
          in: query
          description: order id by client
          schema:
            type: string
        - name: stopPrice
          in: query
          description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
          schema:
            type: number
            format: float
        - name: icebergQty
          in: query
          description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
          schema:
            type: number
            format: float
        - name: newOrderRespType
          in: query
          description: ACK, RESULT, or FULL
          schema:
            type: string
        - name: recvWindow
          in: query
          description: The value cannot be greater than 60000
          schema:
            type: integer
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: test order result
          content: {}
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/order:
      get:
        summary: Query Order (USER_DATA)
        description: |-
          Check an order's status.

          Weight: 1 
        tags:
          - Trade
        parameters:
          - $ref: '#/components/parameters/symbol'
          - $ref: '#/components/parameters/orderId'
          - $ref: '#/components/parameters/origClientOrderId'
          - $ref: '#/components/parameters/recvWindow'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/signature'
        responses:
          '200':
            description: order details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/orderDetails'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
      post:
        summary: New Order (TRADE)
        description: |-
          Send in a new order.

          Weight: 1 
        tags:
          - Trade
        parameters:
          - $ref: '#/components/parameters/symbol'
          - name: side
            in: query
            required: true
            description: BUY or SELL
            schema:
              type: string
          - name: type
            in: query
            required: true
            description: LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER etc
            schema:
              type: string
              enum: [LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER]
          - name: timeInForce
            in: query
            description: GTC, IOC or FOK
            schema:
              type: string
              enum: [GTC, IOC, FOK]
          - name: quantity
            in: query
            description: order quantity
            schema:
              type: number
              format: float
          - name: quoteOrderQty
            in: query
            description: quote quantity
            schema:
              type: number
              format: float
          - name: price
            in: query
            description: order price
            schema:
              type: number
              format: float
          - name: newClientOrderId
            in: query
            description: order id by client
            schema:
              type: string
          - name: stopPrice
            in: query
            description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
            schema:
              type: number
              format: float
          - name: icebergQty
            in: query
            description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
            schema:
              type: number
              format: float
          - name: newOrderRespType
            in: query
            description: ACK, RESULT, or FULL
            schema:
              type: string
          - name: recvWindow
            in: query
            description: The value cannot be greater than 60000
            schema:
              type: integer
          - $ref: '#/components/parameters/recvWindow'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/signature'
        responses:
          '200':
            description: order result
            content:
              application/json:
                schema:
                  oneOf:
                    - $ref: '#/components/schemas/orderResponseAck'
                    - $ref: '#/components/schemas/orderResponseResult'
                    - $ref: '#/components/schemas/orderResponseFull'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError' 
      delete:
        summary: Cancel Order (TRADE)
        description: |-
          Cancel an active order.

          Weight: 1 
        tags:
          - Trade
        parameters:
          - $ref: '#/components/parameters/symbol'
          - $ref: '#/components/parameters/orderId'
          - $ref: '#/components/parameters/origClientOrderId'
          - $ref: '#/components/parameters/newClientOrderId'
          - $ref: '#/components/parameters/recvWindow'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/signature'
        responses:
          '200':
            description: cancelled order
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/order'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /api/v3/openOrders:
    get:
      summary: Current Open Orders (USER_DATA)
      description: |-
        Get all open orders on a symbol. Careful when accessing this with no symbol.\
        
        Weight:\
        1 for a single symbol;\
        40 when the symbol parameter is omitted
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: current open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/orderDetails'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
    delete:
      summary: Cancel all Open Orders on a Symbol (TRADE)
      description: |-
        Cancels all active orders on a symbol.\
        This includes OCO orders.

        Weight: 1 
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: cancelled orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/order'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'               
  /api/v3/allOrders:
    get:
      summary: All Orders (USER_DATA)
      description: |-
        Get all account orders; active, canceled, or filled..\
        
        Weight: 5
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: current open orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/orderDetails'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/order/oco:
    post:
      summary: New OCO (TRADE)
      description: |-
        Send in a new OCO

        Weight:\
        1 
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/listClientOrderId'
        - $ref: '#/components/parameters/side'
        - name: quantity
          in: query
          description: order quantity
          required: true
          schema:
            type: number
            format: float
        - name: limitClientOrderId
          in: query
          description: A unique Id for the limit order  
          schema:
            type: number
            format: float
        - name: type
          in: query
          required: true
          description: LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER etc
          schema:
            type: string
            enum: [LIMIT, MARKET, STOP_LOSS_LIMIT, TAKE_PROFIT_LIMIT, LIMIT_MAKER]
        - name: timeInForce
          in: query
          description: GTC, IOC or FOK
          schema:
            type: string
            enum: [GTC, IOC, FOK]
        - name: quantity
          in: query
          description: order quantity
          schema:
            type: number
            format: float
        - name: quoteOrderQty
          in: query
          description: quote quantity
          schema:
            type: number
            format: float
        - name: price
          in: query
          description: order price
          schema:
            type: number
            format: float
        - name: newClientOrderId
          in: query
          description: order id by client
          schema:
            type: string
        - name: stopPrice
          in: query
          description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
          schema:
            type: number
            format: float
        - name: icebergQty
          in: query
          description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
          schema:
            type: number
            format: float
        - name: newOrderRespType
          in: query
          description: ACK, RESULT, or FULL
          schema:
            type: string
        - name: recvWindow
          in: query
          description: The value cannot be greater than 60000
          schema:
            type: integer
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: test order result
          content: {}
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'

  /api/v3/orderList:
    get:
      summary: Query OCO (USER_DATA)
      description: |-
        Retrieves a specific OCO based on provided optional parameters

        Weight: 1 
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/orderListId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OCOOrder'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
    delete:
      summary: Cancel OCO (TRADE)
      description: |-
        Cancel an entire Order List

        Weight: 1 
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderListId'
        - $ref: '#/components/parameters/listClientOrderId'
        - $ref: '#/components/parameters/newClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/OCOOrderReport'               
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/allOrderList:
    get:
      summary: Query all OCO (USER_DATA)
      description: |-
        Retrieves all OCO based on provided optional parameters

        Weight: 10
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/fromId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OCOOrder'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/openOrderList:
    get:
      summary: Query Open OCO (USER_DATA)
      description: |-
        Weight: 2
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OCOOrder'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/account:
    get:
      summary: Account Information (USER_DATA)
      description: |-
        Get current account information.

        Weight: 5
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /api/v3/myTrades:
    get:
      summary: Account Trade List (USER_DATA)
      description: |-
        Get trades for a specific account and symbol.

        Weight: 5
      tags:
        - Trade
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/fromId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/myTrade'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'

  /sapi/v1/margin/transfer:
    post:
      summary: Margin Account Transfer (MARGIN)
      description: |-
        Execute transfer between spot account and margin account.

        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
    get:
      summary: Get Transfer History (USER_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/optionalAsset'
        - name: quantity
          in: query
          description:  Tranfer Type
          schema:
            type: string
            enum: [ROLL_IN, ROLL_OUT]

        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: margin account transfer history, response in descending order
          content:
            application/json:
              schema:
                type: object
                example:
                  rows:
                    - 
                      amount: "0.10000000"
                      asset: "BNB"
                      status: "CONFIRMED"
                      timestamp: 1566898617
                      txId: 5240372201
                      type: "ROLL_IN"
                  total: 1
                      
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /sapi/v1/margin/loan:
    post:
      summary: Margin Account Borrow (MARGIN)
      description: |-
        Apply for a loan.

        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
    get:
      summary: Query Load Record (USER_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - name: txId
          in: query
          description: the tranId in  `POST /sapi/v1/margin/loan`
          schema:
            type: integer
            example: 123456789
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: Load records
          content:
            application/json:
              schema:
                type: object
                example:
                  rows:
                    - 
                      asset: "BNB"
                      principal: "0.84624403"
                      timestamp: 1566898617
                      status: "CONFIRMED"
                  total: 1
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /sapi/v1/margin/repay:
    post:
      summary: Margin Account Repay (MARGIN)
      description: |-
        Repay loan for margin account.

        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/amount'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transaction'
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
    get:
      summary: Query Repay Record (USER_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - name: txId
          in: query
          description: the tranId in  `POST /sapi/v1/margin/repay`
          schema:
            type: integer
            example: 123456789
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: Load records
          content:
            application/json:
              schema:
                type: object
                example:
                  rows:
                    - 
                      asset: "BNB"
                      principal: "0.84624403"
                      timestamp: 1566898617
                      status: "CONFIRMED"
                  total: 1
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError' 
  /sapi/v1/margin/asset:
    get:
      summary: Query Margin Asset (MARKET_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                type: object
              example:
                assetFullName: "Binance Coin"
                assetName: "BNB"
                isBorrowable: false
                isMortgageable: true
                userMinBorrow: "0.00000000"
                userMinRepay: "0.00000000"
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /sapi/v1/margin/pair:
    get:
      summary: Query Margin Pair (MARKET_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                type: object
              example:
                id: 323355778339572400
                symbol: "BNBUSDT"
                quote: "USDT"
                isMarginTrade: true
                isBuyAllowed: true
                isSellAllowed: true
        '400':
          description: validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/validationError'
  /sapi/v1/margin/allAssets:
    get:
      summary: Get All Margin Assets (MARKET_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      responses:
        '200':
          description: order details
          content:
            application/json:
              schema:
                type: array
              example:
                - 
                  assetFullName: "Binance coin"
                  assetName: "BNB"
                  isBorrowable: true
                  isMortgageable: true
                  userMinBorrow: "0.00000000"
                  userMinRepay: "0.00000000"
  /sapi/v1/margin/allPairs:
    get:
      summary: Get All Margin Pairs (MARKET_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      responses:
        '200':
          description: margin pairs
          content:
            application/json:
              schema:
                type: array
              example:
                - 
                  base: "BNB"
                  id: 351637150141315861
                  isBuyAllowed: true
                  isMarginTrade: true
                  isSellAllowed: true
                  quote: "BTC"
                  symbol: "BNBBTC"
  /sapi/v1/margin/priceIndex:
    get:
      summary: Query Margin PriceIndex (MARKET_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'        
      responses:
        '200':
          description: margin pairs
          content:
            application/json:
              schema:
                type: array
              example:
                - 
                  base: "BNB"
                  id: 351637150141315861
                  isBuyAllowed: true
                  isMarginTrade: true
                  isSellAllowed: true
                  quote: "BTC"
                  symbol: "BNBBTC"
  /sapi/v1/margin/order:
    get:
      summary: Query Margin Account's Order (MARKET_DATA)
      description: |-
        - Either orderId or origClientOrderId must be sent.
        - For some historical orders cummulativeQuoteQty will be < 0, meaning the data is not available at this time.

        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/origClientOrderId'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: Interest History, response in descending order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/marginOrderDetail"
    post:
      summary: Margin Account New Order (TRADE)
      description: |-
        Post a new order for margin account.

        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/side' 
        - $ref: '#/components/parameters/orderType'
        - $ref: '#/components/parameters/quantity'
        - $ref: '#/components/parameters/price'
        - $ref: '#/components/parameters/stopPrice'
        - $ref: '#/components/parameters/newClientOrderId'
        - name: icebergQty
          in: query
          description: Used with LIMIT, STOP_LOSS_LIMIT, and TAKE_PROFIT_LIMIT to create an iceberg order.
          schema:
            type: number
            format: float
        - $ref: '#/components/parameters/newOrderRespType'
        - name: sideEffectType
          in: query
          description: default NO_SIDE_EFFECT
          schema:
            type: string
            enum: [NO_SIDE_EFFECT, MARGIN_BUY, AUTO_REPAY]
        - $ref: '#/components/parameters/timeInForce'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature' 
      responses:
        '200':
          description: margin pairs
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/marginOrderResponseAck'
                  - $ref: '#/components/schemas/marginOrderResponseResult'
                  - $ref: '#/components/schemas/marginOrderResponseFull'
    delete:
        summary: Margin Account Cancel Order (TRADE)
        description: |-
          Cancel an active order for margin account.

          Weight: 1 
        tags:
          - Margin
        parameters:
          - $ref: '#/components/parameters/symbol'
          - $ref: '#/components/parameters/orderId'
          - $ref: '#/components/parameters/origClientOrderId'
          - $ref: '#/components/parameters/newClientOrderId'
          - $ref: '#/components/parameters/recvWindow'
          - $ref: '#/components/parameters/timestamp'
          - $ref: '#/components/parameters/signature'
        responses:
          '200':
            description: cancelled margin order details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/marginOrder'
          '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /sapi/v1/margin/interestHistory:
    get:
      summary: Query Interest History (MARKET_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/asset'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: Interest History, response in descending order
          content:
            application/json:
              schema:
                type: object
              example:
                rows:
                  - 
                    asset: "BNB"
                    interest: "0.02414667"
                    interestAccuredTime: 1566813600
                    interestRate: "0.01600000"
                    principal: "36.22000000"
                    type: "ON_BORROW"
                total: 1
  /sapi/v1/margin/forceLiquidationRec:
    get:
      summary: Get Force Liquidation Record (USER_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/current'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: Force Liquidation History, response in descending order
          content:
            application/json:
              schema:
                type: object
              example:
                rows:
                  - 
                    avgPrice: "0.00388359"
                    executedQty: "31.39000000"
                    orderId: 180015097
                    price: "0.00388110"
                    qty: "31.39000000"
                    side: "SELL"
                    symbol: "BNBBTC"
                    timeInForce: "GTC"
                    updatedTime: 1558941374745
                total: 1
  /sapi/v1/margin/account:
    get:
      summary: Query Margin Account Details (USER_DATA)
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: Margin account details
          content:
            application/json:
              schema:
                type: object
              example:
                borrowEnabled: true
                marginLevel: "11.64405625"
                totalAssetOfBtc: "6.82728457"
                totalLiabilityOfBtc: "0.58633215"
                totalNetAssetOfBtc: "6.24095242"
                tradeEnabled: true
                transferEnabled: true
                userAssets:
                  - 
                    asset: "BTC"
                    borrowed: "0.00000000"
                    free: "0.00499500"
                    interest: "0.00000000"
                    locked: "0.00000000"
                    netAsset: "0.00499500"
  /sapi/v1/margin/openOrders:
    get:
      summary: Query Margin Account's Open Order (USER_DATA)
      description: |-
        - If the symbol is not sent, orders for all symbols will be returned in an array.
        - When all symbols are returned, the number of requests counted against the rate limiter is equal to the number of symbols currently trading on the exchange

        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: margin open orders list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/marginOrderDetail'
  /sapi/v1/margin/allOrders:
    get:
      summary: Query Margin Account's All Order (USER_DATA)
      description: |-
        - If orderId is set, it will get orders >= that orderId. Otherwise most recent orders are returned.
        - For some historical orders cummulativeQuoteQty will be < 0, meaning the data is not available at this time.
        
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/orderId'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: margin order list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/marginOrderDetail'
  /sapi/v1/margin/myTrades:
    get:
      summary: If fromId is set, it will get orders >= that fromId. Otherwise most recent orders are returned.
      description: |-
        Weight: 1
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/fromId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: margin order list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/marginTrade'
  /sapi/v1/margin/maxBorrowable:
    get:
      summary: Query Max Borrow (USER_DATA)
      description: |-
        Weight: 5
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: max borrow amount
          content:
            application/json:
              schema:
                type: object
                example:
                  amount: "1.69248805"
  /sapi/v1/margin/maxTransferable:
    get:
      summary: Query Max Transfer-Out Amount (USER_DATA)
      description: |-
        Weight: 5
      tags:
        - Margin
      parameters:
        - $ref: '#/components/parameters/symbol'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: max transferable amount
          content:
            application/json:
              schema:
                type: object
                example:
                  amount: "1.69248805"
  /wapi/v3/systemStatus.html :
    get:
      summary: System Status (System)
      description: |-
        Weight: 1
      tags:
        - Wallet     
      responses:
        '200':
          description: system status
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 0
                  msg: "normal"
  /sapi/v1/capital/config/getall:
    get:
      summary: All Coins' Information (USER_DATA)
      description: |- 
        Get information of coins (available for deposit and withdraw) for user.

        Weight: 5
      tags:
        - Wallet
      parameters:
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: All coins details information
          content:
            application/json:
              schema:
                type: object
                example:
                  coin: "BTC"
                  depositAllEnable: true
                  free: "0.08074558"
                  freeze: "0.00000000"
                  ipoable: "0.00000000"
                  ipoing: "0.00000000"
                  isLegalMoney: false
                  locked: "0.00000000"
                  name: "Bitcoin"
                  networkList:
                    - 
                      addressRegex: "^(bnb1)[0-9a-z]{38}$"
                      coin: "BTC"
                      depositDesc: "Wallet Maintenance, Deposit Suspended"
                      depositEnable: false
                      isDefault: false,       
                      memoRegex: "^[0-9A-Za-z\\-_]{1,120}$"
                      minConfirm: 1
                      name: "BEP2"
                      network: "BNB"
                      resetAddressStatus: false
                      specialTips: "Both a MEMO and an Address are required to successfully deposit your BEP2-BTCB tokens to Binance."
                      unLockConfirm: 0
                      withdrawDesc: "Wallet Maintenance, Withdrawal Suspended"
                      withdrawEnable: false
                      withdrawFee: "0.00000220"
                      withdrawMin: "0.00000440"
                  storage: "0.00000000"
                  trading: true
                  withdrawAllEnable: true
                  withdrawing: "0.00000000"
  /sapi/v1/accountSnapshot:
    get:
      summary: Daily Account Snapshot (USER_DATA)
      description: |- 
        Weight: 1
      tags:
        - Wallet
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [SPOT, MARGIN, FUTURES]
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - name: limit
          in: query
          required: true
          schema:
            type: integer
            default: 5
            minimum: 5
            maximum: 30
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'        
      responses:
        '200':
          description: account Snapshot
          content:
            application/json:
              schema:
                type: object
                example:
                  code: 200
                  msg: ""
                  snapshotVos:
                    - 
                      data:
                        balances:
                          -
                            asset: "BTC"
                            free: "0.09905021"
                            locked: "0.00000000"
                        totalAssetOfBtc: "100"
                      type: "spot"
                      updateTime: 1576281599000
  /sapi/v1/account/disableFastWithdrawSwitch:
    post:
      summary: Disable Fast Withdraw Switch (USER_DATA)
      description: |-
        This request will disable fastwithdraw switch under your account.
        You need to enable "trade" option for the api key which requests this endpoint.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature' 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  {}
  /sapi/v1/account/enableFastWithdrawSwitch:
    post:
      summary: Enable Fast Withdraw Switch (USER_DATA)
      description: |-

        - This request will enable fastwithdraw switch under your account. You need to enable "trade" option for the api key which requests this endpoint.
        - When Fast Withdraw Switch is on, transferring funds to a Binance account will be done instantly. There is no on-chain transaction, no transaction ID and no withdrawal fee.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature' 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  {}
  /sapi/v1/capital/withdraw/apply:
    post:
      summary: Withdraw
      description: |-
        Submit a withdraw request.

        - If network not send, return with default network of the coin.
        - You can get network and isDefault in networkList of a coin in the response of `Get /sapi/v1/capital/config/getall (HMAC SHA256)`.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/coin'
        - name: withdrawOrderId
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
        - name: address
          in: query
          required: true
          schema:
            type: string
        - name: addressTag
          in: query
          schema:
            type: string
        - name: amount
          in: query
          required: true
          schema:
            type: number
            format: float
        - name: transactionFeeFlag
          in: query
          schema:
            type: boolean
        - name: name
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature' 
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  id: "7213fea8e94b4a5593d507237e5a555b"
  /sapi/v1/capital/deposit/hisrec:
    get:
      summary: Deposit History（supporting network） (USER_DATA)
      description: |-
        Fetch deposit history.

        - Please notice the default startTime and endTime to make sure that time interval is within 0-90 days.
        - If both startTime and endTime are sent, time between startTime and endTime must be less than 90 days.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - name: coin
          in: query
          schema:
            type: string
            example: "BNB"
        - name: status
          in: query
          description: 0 -> pending, 6 -> credited but cannot withdraw, 1 -> success
          schema:
            type: integer
            enum: [0, 6, 1]
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  -
                    address": "0xddc66e4313fd6c737b6cae67cad90bb4e0ac7092"
                    addressTag": ""
                    amount": "139.04370000"
                    coin": "USDT"
                    insertTime": 1566791463000
                    network": "ETH"
                    status": 1
                    txId": "0x5759dfe9983a4c7619bce9bc736bb6c26f804091753bf66fa91e7cd5cfeebafd"
  /sapi/v1/capital/withdraw/history:
    get:
      summary: Withdraw History (supporting network) (USER_DATA)
      description: |-
        Fetch withdraw history.

        - network may not be in the response for old withdraw.
        - Please notice the default startTime and endTime to make sure that time interval is within 0-90 days.
        - If both startTime and endTime are sent, time between startTime and endTime must be less than 90 days

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - name: coin
          in: query
          schema:
            type: string
            example: "BNB"
        - name: status
          in: query
          description: |-
            0:Email Sent
            1:Cancelled
            2:Awaiting Approval 
            3:Rejected 
            4:Processing 
            5:Failure 
            6:Completed
          schema:
            type: integer
            enum: [0,1,2,3,4,5,6]
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                type: object
                example:
                  -
                    address: "1FZdVHtiBqMrWdjPyRPULCUceZPJ2WLCsB"
                    amount: "0.00150000"
                    applyTime: "2019-09-24 12:43:45"
                    coin: "BTC"
                    id: "156ec387f49b41df8724fa744fa82719"
                    network: "BTC"
                    status: 6
                    txId: "60fd9007ebfddc753455f95fafa808c4302c836e4d1eebc5a132c36c1d8ac354"
  /sapi/v1/capital/deposit/address:
    get:
      summary: Withdraw History (supporting network) (USER_DATA)
      description: |-
        Fetch withdraw history.

        - network may not be in the response for old withdraw.
        - Please notice the default startTime and endTime to make sure that time interval is within 0-90 days.
        - If both startTime and endTime are sent, time between startTime and endTime must be less than 90 days

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/coin'
        - name: network
          in: query
          schema:
            type: string
            example: "ETH"
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "deposit address"
          content:
            application/json:
              schema:
                type: object
                example:
                  -
                    address: "1FZdVHtiBqMrWdjPyRPULCUceZPJ2WLCsB"
                    coin: "BTC"
                    tag: ""
                    url: "https://btc.com/1HPn8Rx2y6nNSfagQBKy27GB99Vbzg89wv"
  /wapi/v3/accountStatus.html:
    get:
      summary: Account Status (USER_DATA)
      description: |-
        Fetch account status detail.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "account status"
          content:
            application/json:
              schema:
                type: object
                example:
                  msg: "Normal"
                  success: true
  /wapi/v3/apiTradingStatus.html:
    get:
      summary: Account API Trading Status (USER_DATA)
      description: |-
        Fetch account api trading status detail.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "API trading staus details"
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  status:
                    isLocked: false
                    plannedRecoverTime: 0
                    triggerCondition:
                      gcr: 150
                      ifer: 150
                      ufr: 300
                    indicators:
                  updateTime: 1593500803840
  /wapi/v3/userAssetDribbletLog.html:
    get:
      summary: DustLog (USER_DATA)
      description: |-
        Fetch small amounts of assets exchanged BNB records.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "Dust log records"
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  results:
                    total: 2
                    rows: 
                      - 
                        transfered_total: "0.00132256"
                        service_charge_total: "0.00002699"
                        tran_id: 4359321
                        logs:
                          - 
                            tranId: 4359321
                            serviceChargeAmount: "0.000009"
                            uid: "10000015"
                            amount: "0.0009"
                            operateTime: "2018-05-03 17:07:04"
                            transferedAmount: "0.000441"
                            fromAsset: "USDT"
                        operate_time: "2018-05-03 17:07:04"
  /sapi/v1/asset/dust:
    post:
      summary: Dust Transfer
      description: |-
        Convert dust assets to BNB.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - name: asset
          in: query
          required: true
          description: The asset being converted. For example, asset=BTC&asset=USDT
          schema:
            type: string
            example: asset=BTC&asset=USDT
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "Dust log records"
          content:
            application/json:
              schema:
                type: object
                example:
                  totalServiceCharge: "0.02102542"
                  totalTransfered: "1.05127099"
                  transferResult:
                    - 
                      amount: "0.03000000"
                      fromAsset: "ETH"
                      operateTime: 1563368549307
                      serviceChargeAmount: "0.00500000"
                      tranId: 2970932918
                      transferedAmount: "0.25000000"
  /sapi/v1/asset/assetDividend:
    get:
      summary: Dust Transfer
      description: |-
        Asset Dividend Record 

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - name: asset
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/startTime'
        - $ref: '#/components/parameters/endTime'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "records of asset devidend"
          content:
            application/json:
              schema:
                type: object
                example:
                  rows:
                    -
                      amount: "10.00000000"
                      asset: "BHFT"
                      divTime: 1563189166000
                      enInfo: "BHFT distribution"
                      tranId: 2968885920
                  total: 1
  /wapi/v3/assetDetail.html:
    get:
      summary: Asset Detail (USER_DATA)
      description: |-
        Fetch details of assets supported on Binance.

        Please get network and other deposit or withdraw details from `GET /sapi/v1/capital/config/getall`.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "asset details"
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  assetDetail:
                    CTR:
                      minWithdrawAmount: "0.02000000"
                      depositStatus: true
                      withdrawFee: 0.01
                      withdrawStatus: true
  /wapi/v3/tradeFee.html:
    get:
      summary: Trade Fee (USER_DATA)
      description: |-
        Fetch trade fee, values in percentage.

        Weight: 1
      tags:
        - Wallet     
      parameters:
        - $ref: '#/components/parameters/optionalSymbol'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/recvWindow'
        - $ref: '#/components/parameters/signature'
      responses:
        '200':
          description: "Trading fee"
          content:
            application/json:
              schema:
                type: object
                example:
                  success: true
                  tradeFee: 
                    -
                      symbol: "ADABNB"
                      maker: 0.9000
                      taker: 1.0000
  /api/v3/userDataStream:
    post:
      summary: Create a ListenKey (USER_STREAM)
      description: |-
        Start a new user data stream. 
        The stream will close after 60 minutes unless a keepalive is sent. If the account has an active listenKey, that listenKey will be returned and its validity will be extended for 60 minutes.
        Weight: 1
      tags:
        - Stream
      responses:
        '200':
          description: listen key
          content:
            application/json:
              schema:
                type: object
                example:
                  listenKey: "pqia91ma19a5s61cv6a81va65sdf19v8a65a1a5s61cv6a81va65sdf19v8a65a1"
    put:
      summary: Ping/Keep-alive a ListenKey (USER_STREAM)
      description: |-
        Keepalive a user data stream to prevent a time out. User data streams will close after 60 minutes. It's recommended to send a ping about every 30 minutes.
        Weight: 1
      tags:
        - Stream
      parameters:
        - $ref: '#/components/parameters/listenKey'
      responses:
        '200':
          description: empty object
          content:
            application/json:
              schema:
                type: object
                example:
                  {}
        '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
    delete:
      summary: Close a ListenKey (USER_STREAM)
      description: |-
        Close out a user data stream.
        Weight: 1
      tags:
        - Stream
      parameters:
        - $ref: '#/components/parameters/listenKey'
      responses:
        '200':
          description: empty object
          content:
            application/json:
              schema:
                type: object
                example:
                  {}
        '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
  /sapi/v1/userDataStream:
    post:
      summary: Create a ListenKey (USER_STREAM)
      description: |-
        Start a new user data stream. 
        The stream will close after 60 minutes unless a keepalive is sent. If the account has an active listenKey, that listenKey will be returned and its validity will be extended for 60 minutes.
        Weight: 1
      tags:
        - Margin Stream
      responses:
        '200':
          description: listen key
          content:
            application/json:
              schema:
                type: object
                example:
                  listenKey: "pqia91ma19a5s61cv6a81va65sdf19v8a65a1a5s61cv6a81va65sdf19v8a65a1"
    put:
      summary: Ping/Keep-alive a ListenKey (USER_STREAM)
      description: |-
        Keepalive a user data stream to prevent a time out. User data streams will close after 60 minutes. It's recommended to send a ping about every 30 minutes.
        Weight: 1
      tags:
       - Margin Stream
      parameters:
        - $ref: '#/components/parameters/listenKey'
      responses:
        '200':
          description: empty object
          content:
            application/json:
              schema:
                type: object
                example:
                  {}
        '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
    delete:
      summary: Close a ListenKey (USER_STREAM)
      description: |-
        Close out a user data stream.
        Weight: 1
      tags:
        - Margin Stream
      parameters:
        - $ref: '#/components/parameters/listenKey'
      responses:
        '200':
          description: empty object
          content:
            application/json:
              schema:
                type: object
                example:
                  {}
        '400':
            description: validation error
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/validationError'
                
components:
  parameters:
    asset:
      name: asset
      in: query
      description: The asset being transferred, e.g., BTC
      required: true
      schema:
        type: string
      example: 'BTC'
    amount:
      name: amount
      in: query
      required: true
      schema:
        type: number
        format: float
      example: '1.01'
    current:
      name: current
      in: query
      required: true
      description: Currently querying page. Start from 1. Default:1
      schema:
        type: number
        format: int32
      example: 1
    coin:
      name: coin
      in: query
      required: true
      description: coin name
      schema:
        type: string
      example: "BNB"
    side:
      name: side
      in: query
      required: true
      description: SELL or BUY
      schema:
        type: string
        enum: ['SELL', 'BUY']
      example: 'BNBUSDT' 
    size:
      name: size
      in: query
      description: Default:10 Max:100
      schema:
        type: number
        format: int32
      example: 100 
    symbol:
      name: symbol
      in: query
      required: true
      description: trading symbol, e.g. BNBUSDT
      schema:
        type: string
      example: 'BNBUSDT'
    optionalSymbol:
      name: symbol
      in: query
      description: trading symbol, e.g. BNBUSDT
      schema:
        type: string
      example: 'BNBUSDT'
    optionalAsset:
      name: asset
      in: query
      description: The asset being transferred, e.g., BTC
      schema:
        type: string
      example: 'BNB'
    limit:
      name: limit
      in: query
      description: Default 500; max 1000.
      schema:
        type: integer
      example: 500
    listenKey:
      name: listenKey
      in: query
      description: User websocket listen key
      schema:
        type: string
      example: "pqia91ma19a5s61cv6a81va65sdf19v8a65a1a5s61cv6a81va65sdf19v8a65a1"
    fromId:
      name: fromId
      in: query
      description: Trade id to fetch from. Default gets most recent trades.
      schema:
        type: integer
    offset:
      name: offset
      in: query
      schema:
        type: integer
    orderId:
      name: orderId
      in: query
      description: order id
      schema:
        type: integer
    orderListId:
      name: orderListId
      in: query
      description: order list id
      schema:
        type: integer
    origClientOrderId:
      name: origClientOrderId
      in: query
      description: order id from client
      schema:
        type: string
    listClientOrderId:
      name: listClientOrderId
      in: query
      description: A unique Id for the entire orderList
      schema:
        type: string
    newClientOrderId:
      name: newClientOrderId
      in: query
      description: Used to uniquely identify this cancel. Automatically generated by default
      schema:
        type: string
    newOrderRespType:
      name: newClientOrderId
      in: query
      description: Set the response JSON. ACK, RESULT, or FULL; MARKET and LIMIT order types default to FULL, all other orders default to ACK.
      schema:
        type: string
        enum: [ACK,RESULT,FULL]
    startTime:
      name: startTime
      in: query
      description: Timestamp in ms 
      schema:
        type: integer
    endTime:
      name: endTime
      in: query
      description: Timestamp in ms
      schema:
        type: integer
    price:
      name: price
      in: query
      description: order price
      schema:
        type: number
        format: float
      example: 20.01 
    quantity:
      name: quantity
      in: query
      description: order quantity
      required: true
      schema:
        type: number
        format: float
      example: 10.01    
    recvWindow:
      name: recvWindow
      in: query
      description: The value cannot be greater than 60000
      schema:
        type: integer
      example: 5000
    timestamp:
      name: timestamp
      in: query
      required: true
      description: UTC timestamp
      schema:
        type: integer
    timeInForce:
      name: timeInForce
      in: query
      description: order time in force
      schema:
        type: string
        enum: [GTC,IOC,FOK]
    type:
      name: type
      in: query
      required: true
      schema:
        type: integer
    orderType:
      name: type
      in: query
      required: true
      description: the order type
      schema:
        type: string
        enum: [LIMIT,MARKET,STOP_LOSS,STOP_LOSS_LIMIT,TAKE_PROFIT,TAKE_PROFIT_LIMIT,LIMIT_MAKER]
    signature:
      name: signature
      in: query
      required: true
      description: signature
      schema:
        type: string
    stopPrice:
      name: stopPrice
      in: query
      description: Used with STOP_LOSS, STOP_LOSS_LIMIT, TAKE_PROFIT, and TAKE_PROFIT_LIMIT orders.
      schema:
        type: number
        format: float
      example: 20.01 
    APIKey:
      name: X-MBX-APIKEY
      in: header
      description: API Key
      required: true
      schema:
        type: string

  schemas:
    account:
      type: object
      properties:
        makerCommission:
          type: integer
          example: 15
        takerCommission:
          type: integer
          example: 15
        buyerCommission:
          type: integer
          example: 0
        sellerCommission:
          type: integer
          example: 0
        canTrade:
          type: boolean
          example: true
        canWithdraw:
          type: boolean
          example: true
        canDeposit:
          type: boolean
          example: true
        updateTime:
          type: integer
          example: 123456789
        accountType:
          type: string
          example: "SPOT"
        balances:
          type: array
          items:
            type: object
            properties:
              asset:
                type: string
                example: "BTC"
              free:
                type: string
                example: "4723846.89208129"
              locked:
                type: string
                example: "0.00000000"        
    order:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        origClientOrderId:
          type: string
          example: "msXkySR3u5uYwpvRMFsi3u"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "LIMIT"
        side:
          type: string
          example: "SELL"
    orderDetails:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        origClientOrderId:
          type: string
          example: "msXkySR3u5uYwpvRMFsi3u"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "LIMIT"
        side:
          type: string
          example: "SELL"
        stopPrice:
          type: number
          format: float
          example: "10.00000000"
        icebergQty:
          type: number
          format: float
          example: "0.00000000"
        time:
          type: integer
          example: 1507725176595
        updateTime:
          type: integer
          example: 1507725176595
        isWorking:
          type: boolean
          example: true
        origQuoteOrderQty:
          type: number
          format: float
          example: "0.00000000"
    marginOrder:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        origClientOrderId:
          type: string
          example: "msXkySR3u5uYwpvRMFsi3u"
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        price:
          type: string
          example: "1.00000000"
        origQty:
          type: string
          example: "10.00000000"
        executedQty:
          type: string
          example: "10.00000000"
        cummulativeQuoteQty:
          type: string
          example: "10.00000000"
        status:
          type: string
          example: "CANCELED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "LIMIT"
        side:
          type: string
          example: "SELL"
    marginOrderDetail:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        price:
          type: string
          example: "1.00000000"
        origQty:
          type: string
          example: "10.00000000"
        executedQty:
          type: string
          example: "10.00000000"
        cummulativeQuoteQty:
          type: string
          example: "10.00000000"
        status:
          type: string
          example: "CANCELED"
        stopPrice:
          type: string
          example: "1.00000000"
        time:
          type: integer
          example: 1562133008725
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "LIMIT"
        side:
          type: string
          example: "SELL"
        icebergQty:
          type: string
          example: "0.00000000"
        isWorking:
          type: boolean
          example: true
        updateTime:
          type: integer
          example: 1562133008725
    marginOrderResponseAck:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
    marginOrderResponseResult:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "MARKET"
        side:
          type: string
          example: "SELL"
    marginOrderResponseFull:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "MARKET"
        side:
          type: string
          example: "SELL"
        marginBuyBorrowAmount:
          type: number
          format: float
          example: 5
        marginBuyBorrowAsset:
          type: string
          example: "BTC"
        fills:
          type: array
          items:
            type: string
            properties:
              price:
                type: string
                example: "4000.00000000"
              qty:
                type: string
                example: "1.00000000"
              commission:
                type: string
                example: "4.00000000"
              commissionAsset:
                type: string
                example: "USDT"
    marginTrade:
      type: object
      properties:
        commission:
          type: string
          example: "0.00006000"
        commissionAsset:
          type: string
          example: "BTC"
        id:
          type: integer
          example: 28
        isBestMatch:
          type: boolean
          example: true
        isBuyer:
          type: boolean
          example: true
        isMaker:
          type: boolean
          example: true
        orderId:
          type: integer
          example: 28
        price:
          type: string
          example: "0.02000000"
        qty:
          type: string
          example: "1.02000000"
        symbol:
          type: string
          example: "BNBBTC"
        time:
          type: integer
          example: 1507725176595
    orderResponseAck:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
    orderResponseResult:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "MARKET"
        side:
          type: string
          example: "SELL"
    orderResponseFull:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        orderId:
          type: integer
          example: 28
        orderListId:
          type: integer
          description: Unless OCO, value will be -1
          example: -1
        clientOrderId:
          type: string
          example: "6gCrw2kRUAF9CvJDGP16IP"
        transactTime:
          type: integer
          example: 1507725176595
        price:
          type: number
          format: float
          example: "1.00000000"
        origQty:
          type: number
          format: float
          example: "10.00000000"
        executedQty:
          type: number
          format: float
          example: "10.00000000"
        cummulativeQuoteQty:
          type: number
          format: float
          example: "10.00000000"
        status:
          type: string
          example: "FILLED"
        timeInForce:
          type: string
          example: "GTC"
        type:
          type: string
          example: "MARKET"
        side:
          type: string
          example: "SELL"
        fills:
          type: array
          items:
            type: string
            properties:
              price:
                type: string
                example: "4000.00000000"
              qty:
                type: string
                example: "1.00000000"
              commission:
                type: string
                example: "4.00000000"
              commissionAsset:
                type: string
                example: "USDT"
    OCOOrder:
      type: object
      properties:
        orderListId:
          type: integer
          example: 3159531
        contingencyType:
          type: string
          example: "OCO"
        listStatusType:
          type: string
          example: "ALL_DONE"
        listOrderStatus:
          type: string
          example: "ALL_DONE"
        listClientOrderId:
          type: string
          example: "jhaxNE9gi6rItxyh8pZsoM"
        transactionTime:
          type: integer
          example: 1585261352335
        symbol:
          type: string
          example: "BNBUSDT"
        orders:
          type: array
          items:
            properties:
              symbol:
                type: string
                example: "BNBUSDT"
              orderId:
                type: integer
                example: 392119712
              clientOrderId:
                type: string
                example: "rmBDik7yMPo1YXtIIrpDGf"
    OCOOrderReport:
      type: object
      properties:
        orderListId:
          type: integer
          example: 3159531
        contingencyType:
          type: string
          example: "OCO"
        listStatusType:
          type: string
          example: "ALL_DONE"
        listOrderStatus:
          type: string
          example: "ALL_DONE"
        listClientOrderId:
          type: string
          example: "jhaxNE9gi6rItxyh8pZsoM"
        transactionTime:
          type: integer
          example: 1585261352335
        symbol:
          type: string
          example: "BNBUSDT"
        orders:
          type: array
          items:
            properties:
              symbol:
                type: string
                example: "BNBUSDT"
              orderId:
                type: integer
                example: 392119712
              clientOrderId:
                type: string
                example: "rmBDik7yMPo1YXtIIrpDGf"
        orderReports:
          type: array
          items:
            $ref: "#/components/schemas/order"
    bookTickerList:
      type: array
      items:
        $ref: '#/components/schemas/bookTicker'
    bookTicker:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        bidPrice:
          type: string
          example: "16.36240000"
        bidQty:
          type: string
          example: "256.78000000"
        askPrice:
          type: string
          example: "16.36450000"
        askQty:
          type: string
          example: "12.56000000"
    priceTickerList:
      type: array
      items:
        $ref: '#/components/schemas/priceTicker'
    priceTicker:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        price:
          type: string
          example: "0.17160000"
    tickerList:
      type: array
      items:
        $ref: '#/components/schemas/ticker'
    ticker:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBBTC"
        priceChange:
          type: string
          example: "0.17160000"
        priceChangePercent:
          type: string
          example: "1.060"
        prevClosePrice:
          type: string
          example: "16.35920000"
        lastPrice:
          type: string
          example: "27.84000000"
        bidPrice:
          type: string
          example: "16.34488284"
        bidQty:
          type: string
          example: "16.34488284"
        askPrice:
          type: string
          example: "16.35920000"
        askQty:
          type: string
          example: "25.06000000"
        openPrice:
          type: string
          example: "16.18760000"
        highPrice:
          type: string
          example: "16.55000000"
        lowPrice:
          type: string
          example: "16.16940000"
        volume:
          type: string
          example: "1678279.95000000"
        quoteVolume:
          type: string
          example: "27431289.14792300"
        openTime:
          type: integer
          example: 1592808788637
        closeTime:
          type: integer
          example: 1592895188637
        firstId:
          type: integer
          example: 62683296
        lastId:
          type: integer
          example: 62739253
        count:
          type: integer
          example: 55958


    myTrade:
      type: object
      properties:
        symbol:
          type: string
          example: "BNBUSDT"
        id:
          type: integer
          description: trade id
          example: 345196462
        orderId:
          type: integer
          example: 345196462
        orderListId:
          type: integer
          example: 345196462
        price:
          type: string
          description: price
          example: "9638.99000000"
        qty:
          type: string
          description: amount of base asset
          example: "0.02077200"
        quoteQty:
          type: string
          description: amount of quote asset
          example: "0.02077200"
        commission:
          type: string
          example: "0.02077200"
        commissionAsset:
          type: string
          example: "BNB"
[...]
